.service-item-img
    max-width 160px

.slider-img-fluid
    max-height: 80vh
    object-fit: cover
.owl-carousel-inner
    background: rgba(0, 0, 0, .4);

.service-item-text
    padding-top 60px 1.5rem 1.5rem 1.5rem

.service-icon img
    max-width: 80%
    max-height 50px
.service-icon
    position absolute
    left 0
    transform: translateX(25%)

.service-icon-right
    left: auto
    right: 0
    transform: translateX(-25%)


.service-item-text
    padding 70px 20px 20px 20px

.has-error
    margin-top 5px
    color #dc3545 !important
    font-size 12px
.navbar .navbar-brand
    img
        max-height 100%

.page-header
    position relative
    .overlay
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        z-index 0
        background rgba(0,0,0,0.5)


.footer-img-fluid
    object-fit: cover;
    max-height: 70px;
